#style-test {
  background-color: blue;
}
#page-not-found {
  display: flex;
  position: relative;
}
#header {
  width: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  #header {
    width: 100%;
    justify-content: space-between;
  }
}
