.password-input-container {
  display: flex;
}
img {
  width: 40px;
}
.toggle-password-button {
  display: flex;
  background-color: transparent;
  width: 20%;
  height: 40px;
  align-items: center;
  justify-content: center;
}
section {
  margin-top: 10%;
  width: 95vw;
}
#password-login {
  width: 80%;
}
