// Grayscale Color Palette
// Head to the docs: https://mammoth-studios.atlassian.net/wiki/spaces/MS/pages/8486914/Skeleton+Grayscale+Styling+Guide

$grayscale-black: #000000;
$grayscale-dark-gray: #8f8f8f;
$grayscale-med-gray: #ababab;
$grayscale-light-gray: #d9d9d9;
$grayscale-off-white: #e4e4e4;
$grayscale-white: #ffffff;
